*{
    /* outline: 1px solid green; */
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'neon';
    src: url('./fonts/neon.ttf') format('truetype');
}

html, body {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: yellow;
}

header {
    background-color: yellow;
    font-family: 'neon', sans-serif;
    font-size: 78px;
    color: red;
    padding-bottom: 0px;
    text-align: center;
    padding-top: 120px;
    line-height: 48px;
}

#midsection {
    display: flex;
}

#midsection > * {
    flex: 1;
}

#sketch {
    background-color: red;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 10px 12px 0px rgba(78, 78, 0, 0.774);
}

#artboard {
    background-color: white;
    border-radius: 20px;
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
}

#buttons {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 20px;
    padding-left: 0px;
}

#buttons > * {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 100px;
    border: none;
    width: 120px;
    box-shadow: 6px 8px 0px rgba(90, 0, 0, 0.3);
    color: red;
    font-weight: 600;
}

#buttons > form {
    padding: 0px;
}

#gridsize {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 0px;
    padding-left: 16px;
    border-radius: 100px;
    border: none;
    width: 104px;
}

footer {
    background-color: red;
    font-family: 'neon', sans-serif;
    font-size: 48px;
    color: yellow;
    padding: 50px;
    text-align: center;
}

